<%= @closest_driver.name %><br>
Phone: <%= @closest_driver.phone %><br>
Driver is <%= @closest_distance %>km away.<br>
Optimal Route -> <% @result.each do |area| %>
  <%= Location.find(area).name %>
<% end %>