<form action="/find-driver" method="get">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <label>From</label>
  <select name="from_location">
    <% (1..6).each do |location|%>
      <option value="<%=location %>"><%=Location.find(location).name %></option>
    <% end %>
  </select><br>
  <label>To</label>
  <select name="to_location">
    <% (1..6).each do |location|%>
      <option value="<%=location %>"><%=Location.find(location).name %></option>
    <% end %>
  </select><br>
  <label>X Coordinate</label>
  <input type="number" name="x_cod">
  <label>Y Coordinate</label>
  <input type="number" name="y_cod">
  <input type="submit" value="Find">
</form>
